<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">Word</label>
    <input type="text" id="n" name="word_name">
  </div>
  <button type="submit" name="btn">Add my word!</button>
</form>
